appdirs==1.4.4
bottle==0.12.18
bottle-cors==0.1.5
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
filelock==3.0.12
httpie==2.1.0
idna==2.9
Pygments==2.6.1
requests==2.23.0
sentry-sdk==0.14.4
six==1.14.0
trello==0.9.4
urllib3==1.25.9
virtualenv==20.0.20
